language: 
  - node_js

node_js: 
  - node
  - 'lts/*'
cash: 
  - npm

after_success: npm run coverage 
services:
  - postgresql
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres

